* {
    margin: 0px;
    padding: 0px;
}

#bgImage {
    height: 765px;
    width: 100%;
    margin-top: -150px;
    z-index: 0;
}

#blackdiv {
    margin-top: -800px;
    height: 797px;
    width: 50%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;

}

#reddiv {
    margin-top: -814.5px;
    height: 797px;
    width: 50%;
    background-color: red; 
    opacity: 0.5;
    margin-left: 631px; 
    z-index: 1;
}



/* ==============================================================NAVBAR=================================== */

#mainnav{
    position: absolute;
    margin-left: 375px;
    margin-top: 10px;
    z-index: 1000;
}


#mainnav ul {
    list-style-type: none !important; /* Add !important to increase specificity */
    text-decoration: none; /* This property only applies to anchor elements */
    display: flex;
    justify-content: center;
    padding: px;
}

#mainnav ul li {
    padding: 14px;
}

#mainnav ul li a {
    color: white;
    font-size: 14.8px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; /* Apply text-decoration to anchor elements */
}


/* ==============================================================NAVBAR=================================== */

#logo{
    position: absolute ;
    z-index: 3;
    max-width: 85px;
    margin-left: 34px;
    margin-top: 10px;
}


#brandname{
    position: absolute;
    z-index: 3;
    color: white;
    font-weight: 360;
    font-family: "Racing Sans One", sans-serif;
    margin-top: 35px;
    margin-left: 43px;
}


#subtitle{
    position: absolute;
    color: white;
    z-index: 3;
    margin-top: 120px;
    font-family: "Racing Sans One", sans-serif;
    font-size: 65px;
    margin-left: 45px;
}

#specifications{
    z-index: 3;
    position: absolute;
    color: #ffffff;
    margin-top: 305px;
    font-size: 22px;
    margin-left: 36px;
    padding: 10px;
    font-family: "Racing Sans One", sans-serif;
}

#specs{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 31px;
    position: absolute;
    color: white;
    z-index: 2;
    margin-top: 350px;
    
    
}

#specs div{
    padding: 5px;
}

#bullseye{
    margin: 9px;
}


#buynow{
    position: absolute;
    z-index: 3;
    /* width: 30px; */
    padding: 9px 15px 9px 15px;
    background-color: #df453e;
    margin-top: -119px;
    margin-left: 100px;
    color: white;
    border: none;
}

#newarrivals{
    /* position: absolute; */
    font-family: "Racing Sans One", sans-serif;
    color: #161616;
    font-size: 65px;
    margin-top: 130px;
    
}

#products
{
    margin-top: 27px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    justify-content: center;
}

#proitems
{
    padding: 10px;
    
    /* border: 2px solid grey; */
    
    
}

#proitems img{
    max-width: 270px;
}


#biketype{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-left: -220px;
}

#bikename{
    font-family: "Racing Sans One", sans-serif;
    margin-left: -98px;
    margin-top: -14px;
    
}

#bikeprice{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-left: -220px;
    margin-top: 3px;
}

#bikestars{
    margin-top: -14px;
    margin-left: -203px;
}

#parallax {
    /* The image used */
    background-image: url("https://websitedemos.net/cycle-shop-02/wp-content/uploads/sites/789/2021/04/moutain-bike.jpg");
    /* Set a specific height */
    min-height: 700px;
    margin-top: 100px;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Gradient overlay */
    position: relative;
}

#parallax::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
}



#discollection{
    color: white;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 300;
    margin-top: 100px;
    margin-left: 20px;
    position: absolute;
    z-index: 3;
}


#mountainbike{
    z-index: 3;
    color: white;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 300;
    font-size: 45px;
    margin-top: 150px;
    position: absolute;
    margin-left: 20px;
    
}



#mountainbikespecs{
    font-weight: 550;
    z-index: 3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 31px;
    position: absolute;
    color: white;
    z-index: 2;
    /* margin-top: 350px; */
    margin-top: 310px;
    margin-left: 10px;
}


#mountainpara{
    z-index: 3;
    margin-left: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-top: 240px;
}



#rightmountain{
    /* position: absolute; */
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 31px;
    position: absolute;
    color: white;
    z-index: 2;
    /* margin-top: 350px; */
    margin-top: 310px;
    margin-left: 280px;
    
}

#parallax2 {
    /* The image used */
    background-image: url("https://websitedemos.net/cycle-shop-02/wp-content/uploads/sites/789/2021/04/city-bike.jpg");
    /* Set a specific height */
    min-height: 700px;
    /* margin-top: 100px; */
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Gradient overlay */
    position: relative;
}

#parallax2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
}

#explorenow{
    border: none;
    color: white;
    background-color: #df453e;
    position: absolute;
    padding: 15px 20px 15px 20px;
    font-weight: 700;
    margin-top: 460px;
    margin-left: 50px;
    z-index: 4;
}


#parallax3 {
    /* The image used */
    background-image: url("https://websitedemos.net/cycle-shop-02/wp-content/uploads/sites/789/2021/04/speciality-bike.jpg");
    /* Set a specific height */
    min-height: 700px;
    /* margin-top: 100px; */
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Gradient overlay */
    position: relative;
}

#parallax3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
}

#explorenow{
    border: none;
    color: white;
    background-color: #df453e;
    position: absolute;
    padding: 15px 20px 15px 20px;
    font-weight: 700;
    margin-top: 460px;
    margin-left: 50px;
    z-index: 4;
}


#whychoose{
    /* position: absolute; */
    font-family: "Racing Sans One", sans-serif;
    color: #161616;
    font-size: 65px;
    margin-top: 110px;
    
}

#kryo1{
    scale: 0.8;
    /* background: linear-gradient(red); */
    /* position: absolute; */
    bottom: 0;
    left: 0;
    /* width: 100%; */
    /* height: 50px; Adjust the height of the overlay as needed */
    
    filter: brightness(40%);
}

#kryo1para{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    z-index: 6;
    position: absolute;
    margin-top: 150px;
    margin-left: 100px;
    font-weight: 700;
}

#kryo2{
    filter: brightness(40%);
    scale: 0.8;
    margin-left: -105px;
    
}


#kryo1div{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}




#cartlogo{
    position: absolute;
    color: white;
    z-index: 4;
    margin-left: 1210px;
    scale: 2;
    margin-top: 22px;
    
}

#lightweight{
    position: absolute;
    margin-left: 100px;
    margin-top: 100px;
    z-index: 6;
    font-family: "Racing Sans One", sans-serif;
    color: white;
}