* {
    margin: 0px;
    padding: 0px;
    
}

#bgImage {
    height: 765px;
    width: 100%;
    margin-top: -150px;
    z-index: 0;
}

#blackdiv {
    margin-top: -800px;
    height: 797px;
    width: 50%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;

}

#reddiv {
    margin-top: -814.5px;
    height: 797px;
    width: 50%;
    background-color: red; 
    opacity: 0.5;
    margin-left: 631px; 
    z-index: 1;
}



/* ==============================================================NAVBAR=================================== */

#mainnav{
    position: absolute;
    margin-left: 375px;
    margin-top: 10px;
    z-index: 1000;
}


#mainnav ul {
    list-style-type: none !important; /* Add !important to increase specificity */
    text-decoration: none; /* This property only applies to anchor elements */
    display: flex;
    justify-content: center;
    padding: px;
}

#mainnav ul li {
    padding: 14px;
}

#mainnav ul li a {
    color: white;
    font-size: 14.8px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; /* Apply text-decoration to anchor elements */
}



#logo{
    position: absolute ;
    z-index: 3;
    max-width: 85px;
    margin-left: 34px;
    margin-top: 10px;
}


#brandname{
    position: absolute;
    z-index: 3;
    color: white;
    font-weight: 360;
    font-family: "Racing Sans One", sans-serif;
    font-family: "Racing Sans One", sans-serif;
    margin-top: 35px;
    margin-left: 43px;
}

/* ==============================================================NAVBAR=================================== */

#subtitle{
    position: absolute;
    color: white;
    z-index: 3;
    margin-top: 120px;
    font-family: "Racing Sans One", sans-serif;
    font-size: 65px;
    margin-left: 45px;
}

#specifications{
    z-index: 3;
    position: absolute;
    color: #ffffff;
    margin-top: 305px;
    font-size: 22px;
    margin-left: 36px;
    padding: 10px;
    font-family: "Racing Sans One", sans-serif;
}

#specs{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 31px;
    position: absolute;
    color: white;
    z-index: 2;
    margin-top: 350px;
    
    
}

#specs div{
    padding: 5px;
}

#bullseye{
    margin: 9px;
}


#buynow{
    position: absolute;
    z-index: 3;
    /* width: 30px; */
    padding: 9px 15px 9px 15px;
    background-color: #df453e;
    margin-top: -119px;
    margin-left: 100px;
    color: white;
    border: none;
}

#newarrivals{
    /* position: absolute; */
    font-family: "Racing Sans One", sans-serif;
    color: #161616;
    font-size: 65px;
    margin-top: 130px;
    
}

#products
{
    margin-top: 27px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    justify-content: center;
}
#productshelmet
{
    margin-top: 27px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    justify-content: center;
}

#proitems
{
    padding: 10px;
    
    /* border: 2px solid grey; */
    
    
}

#proitems img{
    max-width: 270px;
}



#biketype{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-left: -220px;
}

#bikename{
    font-family: "Racing Sans One", sans-serif;
    margin-left: -98px;
    margin-top: -14px;
    
}

#bikeprice{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-left: -220px;
    margin-top: 3px;
}

#bikestars{
    margin-top: -14px;
    margin-left: -203px;
}

#parallax {
    /* The image used */
    background-image: url("https://websitedemos.net/cycle-shop-02/wp-content/uploads/sites/789/2021/04/moutain-bike.jpg");
    /* Set a specific height */
    min-height: 700px;
    margin-top: 100px;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Gradient overlay */
    position: relative;
}

#parallax::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
}



#discollection{
    color: white;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 300;
    margin-top: 100px;
    margin-left: 20px;
    position: absolute;
    z-index: 3;
}


#mountainbike{
    z-index: 3;
    color: white;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 300;
    font-size: 45px;
    margin-top: 150px;
    position: absolute;
    margin-left: 20px;
    
}



#mountainbikespecs{
    font-weight: 550;
    z-index: 3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 31px;
    position: absolute;
    color: white;
    z-index: 2;
    /* margin-top: 350px; */
    margin-top: 310px;
    margin-left: 10px;
}


#mountainpara{
    z-index: 3;
    margin-left: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-top: 240px;
}



#rightmountain{
    /* position: absolute; */
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 31px;
    position: absolute;
    color: white;
    z-index: 2;
    /* margin-top: 350px; */
    margin-top: 310px;
    margin-left: 280px;
    
}

#parallax2 {
    /* The image used */
    background-image: url("https://websitedemos.net/cycle-shop-02/wp-content/uploads/sites/789/2021/04/city-bike.jpg");
    /* Set a specific height */
    min-height: 700px;
    /* margin-top: 100px; */
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Gradient overlay */
    position: relative;
}

#parallax2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
}

#explorenow{
    border: none;
    color: white;
    background-color: #df453e;
    position: absolute;
    padding: 15px 20px 15px 20px;
    font-weight: 700;
    margin-top: 460px;
    margin-left: 50px;
    z-index: 4;
}


#parallax3 {
    /* The image used */
    background-image: url("https://websitedemos.net/cycle-shop-02/wp-content/uploads/sites/789/2021/04/speciality-bike.jpg");
    /* Set a specific height */
    min-height: 700px;
    /* margin-top: 100px; */
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Gradient overlay */
    position: relative;
}

#parallax3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
}

#explorenow{
    border: none;
    color: white;
    background-color: #df453e;
    position: absolute;
    padding: 15px 20px 15px 20px;
    font-weight: 700;
    margin-top: 460px;
    margin-left: 50px;
    z-index: 4;
}


#whychoose{
    /* position: absolute; */
    font-family: "Racing Sans One", sans-serif;
    color: #161616;
    font-size: 65px;
    margin-top: 110px;
    
}

#kryo1{
    scale: 0.8;
    /* background: linear-gradient(red); */
    /* position: absolute; */
    bottom: 0;
    left: 0;
    /* width: 100%; */
    /* height: 50px; Adjust the height of the overlay as needed */
    
    filter: brightness(40%);
}

#kryo1para{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    z-index: 6;
    position: absolute;
    margin-top: 235px;
    margin-left: 100px;
    font-weight: 700;
}

#kryo2{
    filter: brightness(40%);
    scale: 0.8;
    margin-left: -105px;
    
}


#kryo1div{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}




#cartlogo{
    position: absolute;
    color: white;
    z-index: 4;
    margin-left: 1210px;
    scale: 2;
    margin-top: 22px;
    
}

#cartlogoonbikes{
    
}

#lightweight{
    position: absolute;
    margin-left: 100px;
    margin-top: 190px;
    z-index: 6;
    font-family: "Racing Sans One", sans-serif;
    color: white;
    font-weight: 500;
}


#lightweight2{
    position: absolute;
    /* margin-left: 100px; */
    margin-top: 190px;
    z-index: 6;
    font-family: "Racing Sans One", sans-serif;
    color: white;
    font-weight: 500;
}



#kryo1para2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    z-index: 6;
    position: absolute;
    margin-top: 235px;
    margin-left: px;
    font-weight: 700;
}



#kryo3para{
    margin-left: 85px;
    margin-top: 110px;
    z-index: 5;
    color: white;
    position: absolute;
    font-family: "Racing Sans One", sans-serif ;
    font-weight: 500;
}
#kryo3{
    scale: 0.35;
    margin-left: -788px;
    margin-top: -190px;
    filter: brightness(40%);
}

#kryo4{
    scale: 0.35;
    margin-left: -525px;
    margin-top: -546px;
    position: absolute;
    filter: brightness(40%);
}

#kryo5{
    scale: 0.35;
    margin-left: -130px;
    margin-top: -545px;
    position: absolute;
    filter: brightness(40%);
    }
    

#kryo4para{
   margin-left: 480px;
   margin-top: -245px;
    z-index: 5;
    color: white;
    position: absolute;
    font-family: "Racing Sans One", sans-serif ;
    font-weight: 500;
}
#kryo5para{
    margin-left: 880px;
    margin-top: -245px;
    z-index: 5;
    color: white;
    position: absolute;
    font-family: "Racing Sans One", sans-serif ;
    font-weight: 500;
}





/* ====================================   Accessories    ====  = == =   ============================================= */

#proitems1
{
    padding: 10px;
    
    /* border: 2px solid grey; */
    
    
}

#proitems1 img{
    max-width: 270px;
}


#biketype1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-left: -195px;
}

#bikename1{
    font-family: "Racing Sans One", sans-serif;
    margin-left: -130px;
    margin-top: -14px;
    
}

#bikeprice1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-left: -165px;
    margin-top: 3px;
}

#bikestars1{
    margin-top: -14px;
    margin-left: -200px;
}

#addtocartb{
    border: none;
    color: white;
    background-color: #df453e;
    position: absolute;
    padding: 10px 15px 10px 15px;
    font-weight: 700;
    margin-top: -35px;
    margin-left: 90px;
    z-index: 4;
}


#exploreaccess{
    font-family: "Racing Sans One", sans-serif;
    color: #161616;
    font-size: 65px;
    margin-top: -100px;
}



/* ====================================   Accessories    ====  = == =   ============================================= */



#sizes {
    display: flex;
     
}

#sizes button {
    flex: 0.1; /* Make buttons grow equally within the flex container */
    border: 0.1px solid rgb(224, 200, 200);
    padding: 3px; /* Adjust padding as needed */
    margin: 0 3px; /* Adjust margin as needed */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(116, 110, 110);
    background-color: white;
    transition: border-color 0.5s ease;
}

#sizes button:hover {
    filter: brightness(110%);
    border-color: black;
}


#viewall{
    border: none;
    color: white;
    background-color: #df453e;
    position: absolute;
    padding: 15px 20px 15px 20px;
    font-weight: 700;
    margin-top: 90px;
    margin-left: -50px;
    z-index: 4;
}


#join{
    font-family: "Racing Sans One", sans-serif;
    color: #161616;
    font-size: 65px;
    margin-top: 250px;
}


#joinimage{
    scale: 0.6;
    position: absolute;
    margin-left: -325px;
    margin-top: -150px;
    filter: brightness(40%);
    
}


#joinpara{
    margin-top: 800px;
    margin-left: 130px;
    
}

#joinpara1{
    
    font-family: "Racing Sans One", sans-serif;
    font-size: 35px;
}


#joinpara2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(116, 110, 110);
    font-size: 18px;
    font-weight: 600;
}


#joinprogramme{
    border: none;
    color: white;
    background-color: #df453e;
    position: absolute;
    padding: 15px 20px 15px 20px;
    font-weight: 700;
    margin-top: -90px;
    margin-left: 920px;
    z-index: 4;
}


#parallax4 {
    /* The image used */
    background-image: url("https://websitedemos.net/cycle-shop-02/wp-content/uploads/sites/789/2021/03/bicycle-1.jpg");
    /* Set a specific height */
    min-height: 700px;
    margin-top: 100px;
    /* scale: ; */
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* Gradient overlay */
    position: relative;
    /* filter: brightness(40%); */
}

#parallax4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,  #161616 100%);
}


#parallax4h2{
    font-family: "Racing Sans One", sans-serif;
    font-size: 35px;
    color: white;
    font-weight: 500;
    /* margin-top: 100px; */
    
    
    
}


#parallax4h1{
    font-family: "Racing Sans One", sans-serif;
    font-size: 55px;
    color: white;
    font-weight: 500;
    margin-top: 25px;
    
    
}


#parallax4p{
    font-weight: 800;
    color: white;
    margin-top: 25px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#parallax4text{
    margin-top: 150px;
    position: absolute;
    margin-left: 150px;
    z-index: 6;
   
}


#shopnow{
    border: none;
    color: white;
    background-color: #df453e;
    position: absolute;
    padding: 15px 20px 15px 20px;
    margin-top: 40px;
    margin-left: -55px;
    z-index: 4;
    /* border: none; */
}










#mainnavb{
    position: absolute;
    margin-left: 375px;
    margin-top: 10px;
    z-index: 1000;
    background-color: #df453e;
}


#mainnavb ul {
    list-style-type: none !important; /* Add !important to increase specificity */
    text-decoration: none; /* This property only applies to anchor elements */
    display: flex;
    background-color: #df453e;
    justify-content: center;
    padding: px;
}

#mainnavb ul li {
    padding: 14px;
    background-color: #df453e;
}

#mainnavb ul li a {
    background-color: #df453e;
    color: white;
    font-size: 14.8px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; /* Apply text-decoration to anchor elements */
}


#bnavbar{
    background-color: #df453e;
}


#footer{
    width: 1263px;
    height: 450px;
    background-color: #161616;
}


#hlogo{
    scale: 1;
    margin-top: 80px;
    margin-left: 35px;
}

#usefulllinks{
    color: white;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 500;
    margin-left: 340px;
    margin-top: -80px;
    font-size: 25px;
}


#outcollections{
    color: white;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 500;
    margin-left: 650px;
    margin-top: -32px;
    font-size: 25px;
    
}

#accounts{
    color: white;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 500;
    margin-left: 980px;
    margin-top: -32px;
    font-size: 25px;
    
}


#usefull {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-left: 340px;
    margin-top: 25px;
}

#usefull > div {
    margin-bottom: 8px; /* Adjust the value as needed */
}


#bikesfooter {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-left: 650px;
    margin-top: -120px;
}

#bikesfooter > div {
    margin-bottom: 8px; /* Adjust the value as needed */
}



#Accountsfooter {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-left: 978px;
    margin-top: -122px;
}

#Accountsfooter > div {
    margin-bottom: 8px; /* Adjust the value as needed */
}



#footerline{
   /* background-color: black; */
   margin-top: 100px;
   /* width: 3px; */
}

#copyright{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 40px;
    margin-left: 30px;
}


#socials{
    display: flex;
    color: white;
    border-radius: 10%;
    margin-left: 1100px;
    margin-top: -25px;
    
}
#socials > I {
   
    margin: 8px;

}



/* ==========================================Bicycles Navbar================================================ */

#mainnavb{
    position: absolute;
    margin-left: 375px;
    margin-top: 10px;
    z-index: 1000;
}


#mainnavb ul {
    list-style-type: none !important; /* Add !important to increase specificity */
    text-decoration: none; /* This property only applies to anchor elements */
    display: flex;
    justify-content: center;
    padding: px;
}

#mainnavb ul li {
    padding: 14px;
}

#mainnavb ul li a {
    color: white;
    font-size: 14.8px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; /* Apply text-decoration to anchor elements */
}



#logob{
    position: absolute ;
    z-index: 3;
    max-width: 85px;
    margin-left: 34px;
    margin-top: 10px;
}


#brandnameb{
    position: absolute;
    z-index: 3;
    color: white;
    font-weight: 360;
    font-family: "Racing Sans One", sans-serif;
    margin-top: 35px;
    margin-left: 43px;
}

#navbarbicycles{
    background-color: #df453e;
    height: 70px;
}


#cartlogob{
    position: absolute;
    color: white;
    z-index: 4;
    margin-left: 1210px;
    scale: 2;
    margin-top: 22px;
    
}
/* ==========================================Bicycles  Navbar================================================ */



/* ==========================================Bicycles  Main  body================================================ */




#searchbicycles{
    height: 150px;
    width: 350px;
    /* border: 1px solid black; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
    margin-left: 20px;
    margin-top: -950px;
    background-color: white;
}

#searchbicyclesbox{
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 80px;
    margin-left: 40px;
    border: 0.1px solid rgb(224, 200, 200);
}

#mainbodybicycle{
    
    height: 1000px;
    background-color: #eceff1;  
}

#searchbicyclesname{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    margin-left: 40px;
    font-size: 20px;
}


#searchall{
    border: none;
    color: white;
    background-color: #df453e;
    position: absolute;
    padding: 10px 15px 10px 15px;
    font-weight: 700;
    margin-top: 80px;
    margin-left: 7px;
    z-index: 4;
}


#filterb{
    width: 350px;
    position: absolute;
    /* border: 1px solid black; */
    margin-left: 20px;
    background-color: white;
    margin-top: 30px;
    height: 280px;
}


#filterbheading{
    font-family: "Racing Sans One", sans-serif;
    font-weight: 500;
    font-size: 45px;
    margin-left: 30px;
    margin-top: 35px;
}


#filterbycat{
    height: 150px;
    width: 350px;
    /* border: 1px solid black; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); */
    /* margin-left: 20px; */
    /* margin-top: -950px; */
    background-color: white;
    margin-top: 340px;
    margin-left: 20px;
}

#filterbycatpara1{
    font-family: "Racing Sans One", sans-serif;
    font-weight: 500;

    margin-left: 35px;
    margin-top: 20px;
    position: absolute;
}


#filterbycatpara2{
    color: #df453e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    padding: 3px;
    margin-left: 50px;
    margin-top: 60px;
    position: absolute;
    font-weight: 600;
    
}

#filterbycatpara3{
    color: #df453e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 3px;
    margin-top: 90px;
    position: absolute;
    margin-left: 50px;
}



#productsb
{
    margin-top: 347px;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    justify-content: center;
}

#proitemsb
{
    padding: 10px;
    scale: 0.9;
    
    /* border: 2px solid grey; */
    
    
}

#proitemsb img{
    max-width: 208px;
}


#biketypeb{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-left: -0px;
}

#bikenameb{
    font-family: "Racing Sans One", sans-serif;
    margin-left: -px;
    margin-top: -14px;
    
}

#bikepriceb{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-left: -0px;
    margin-top: 3px;
}

#bikestarsb{
    margin-top: -14px;
    margin-left: -px;
}


#bicyclesheading{
    font-family: "Racing Sans One", sans-serif;
    font-weight: 500;
    color: #df453e;
    font-size: 85px;
    margin-left: 100px;
    margin-top: 120px;
    position: absolute;
    z-index: 6;
}


#showbikes{
    position: absolute;
    background-color: white;
    /* border: 1px solid black; */

    height: 949px;
    width: 800px;
    margin-left: 420px;
    margin-top: -640px;
}

#bicycletohome{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 100px;
    font-size: 19px;
    margin-top: 90px;
    position: absolute;

}

#bicycletobicycle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 150px;
    font-size: 19px;
    margin-top: 90px;
    position: absolute;
}


#showingresults{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    position: absolute;
    margin-top: 300px;
    margin-left: 100px;
}


#sortfilter{
    padding: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    position: absolute;
    margin-left: 500px;
    margin-top: 295px;
}


#footerb{
    margin-top: 315px;
    width: 1263px;
    height: 450px;
    background-color: #161616;
}
/* ==========================================Bicycles  Main Body================================================ */



/* ==========================================Accessories  Main Body================================================ */

#proitems1a
{
    padding: 10px;
    
    
    /* border: 2px solid grey; */
    
    
}

#proitems1a img{
    max-width: 208px;
}


#biketype1a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-left: -px;
}

#bikename1a{
    font-family: "Racing Sans One", sans-serif;
    margin-left: -0px;
    margin-top: -14px;
    
}

#bikeprice1a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    margin-left: -px;
    margin-top: 3px;
}

#bikestars1a{
    margin-top: -14px;
    margin-left: -0px;
}

#addtocarta{
    border: none;
    color: white;
    background-color: #df453e;
    position: absolute;
    padding: 5px 10px 5px 10px;
    font-weight: 700;
    margin-top: -px;
    margin-left: 120px;
    z-index: 4;
    font-size: 10px;
}


#footerba{
    margin-top: 415px;
    width: 1263px;
    height: 450px;
    background-color: #161616;
}


#sizesa button{
    flex: 0.1; /* Make buttons grow equally within the flex container */
    border: 0.1px solid rgb(224, 200, 200);
    padding: 3px; /* Adjust padding as needed */
    margin: 0 3px; /* Adjust margin as needed */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(116, 110, 110);
    background-color: white;
    transition: border-color 0.5s ease;
}


#accessorieimage:hover{
    
    
}
/* ==========================================Accessories  Main Body================================================ */
/* ==========================================CART  Main Body================================================ */


#mainbodycart{
    height: 2000px;
    background-color: #eceff1;
    /* position: absolute; */
}


#tablecart{
    margin-top: 60px;
    margin-left: 30px;
    position: absolute;
    height: 1800px;
    width: 1200px;
    background-color: white;
}

#tablecartheading{
    font-size: 25px;
    font-family: "Racing Sans One", sans-serif;
    margin-top: 50px;
    margin-left: 100px;
}


#cartTable{
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-size: 22px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 10px;

   
}




#cartimage{
    max-width: 150px;
    margin-left: 0px;
    margin-top: px;
    
}

#maincartitems td{
    padding: 40px;
}
#maincartitems {
    /* padding: 50px; */
    border-bottom: 1px solid black;
}


#cartqtyplus{
    flex: 0.1 1;
    border: 0.1px solid rgb(224, 200, 200);
    
    margin: 0 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(116, 110, 110);
    background-color: white;
    padding: 3px 9px 3px 9px;
    transition: border-color 0.5s ease;
    background-color: #df453e;
    color: white;
    font-size: 22px;
}


#cartqtyminus{
    flex: 0.1 1;
    border: 0.1px solid rgb(224, 200, 200);
    
    margin: 0 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(116, 110, 110);
    background-color: white;
    padding: 3px 10px 3px 10px;
    transition: border-color 0.5s ease;
    background-color: #df453e;
    color: white;
    font-size: 22px;
}



#cartproduct{
    padding-right: 70px;
    padding-left: 30px;
}


#buynow1{
    border: none;
    color: white;
    background-color: #df453e;
    position: absolute;
    padding: 15px 10px 15px 10px;
    font-weight: 700;
    font-size: 16px;
    margin-top: 77px;
    margin-left: 1020px;
    z-index: 4;
}
/* ==========================================CART  Main Body================================================ */


#slidecontainer {
    width: 85%;

    margin-top: 20px; /* Adjust as needed */
    margin-left: 25px;
}

.slider {
    -webkit-appearance: none; /* Remove default styles for WebKit browsers */
    width: 100%; /* Set the width of the slider */
    height: 4px; /* Set the height of the slider */
    background: #ec150a ; /* Background color of the slider track */
    border-radius: 5px; /* Set the border radius */
    outline: none; /* Remove the outline */
    opacity: 0.7; /* Set the opacity */
    -webkit-transition: .2s; /* 0.2 second transition for smoother hover effect */
    transition: opacity .2s; /* 0.2 second transition for smoother hover effect */
}

.slider:hover {
    opacity: 1; /* Change opacity on hover */
}

/* Customize the appearance of the slider thumb */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styles for WebKit browsers */
    appearance: none; /* Remove default styles */
    width: 18px; /* Set the width of the thumb */
    height: 18px; /* Set the height of the thumb */
    background: #ec150a; /* Thumb color */
    border-radius: 50%; /* Set the border radius to make it round */
    cursor: pointer; /* Change cursor on hover */
}

/* Customize the appearance of the slider thumb for Mozilla Firefox */
.slider::-moz-range-thumb {
    width: 20px; /* Set the width of the thumb */
    height: 20px; /* Set the height of the thumb */
    background: #ec150a; /* Thumb color */
    border-radius: 50%; /* Set the border radius to make it round */
    cursor: pointer; /* Change cursor on hover */
}

#sliderValueDisplay {
    position: absolute;
    /* bottom: -30px; Adjust as needed */
    /* left: 0; */
    margin-top: -35px;
    margin-left: 25px;
    font-family: "Racing Sans One", sans-serif;
    /* font-weight: 300; */
    
    
}
#sliderValueDisplay2 {
    position: absolute;
    /* bottom: -30px; Adjust as needed */
    /* left: 0; */
    margin-top: -35px;
    margin-left: 25px;
    font-family: "Racing Sans One", sans-serif;
    /* font-weight: 300; */
    
    
}
  
#sliderstart{
    font-family: "Racing Sans One", sans-serif;
    margin-top: 20px;
    margin-left: 25px;
    font-size: 15px;
}

#sliderend{
    font-family: "Racing Sans One", sans-serif;
    margin-top: -19px;
    margin-left: 285px;
    font-size: 15px;
}














/* =============================MEDIA QUERY START=============================== */



  



/* =============================MEDIA QUERY END=============================== */


/* =============================CHECKOUT PAGE START=============================== */


#EnterName{
    border: none;
    border-bottom: 0.5px solid black;
    width: 300px;
    font-size: 20px;
    margin-top: 70px;
    margin-left: 50px   ;
    transition: border-bottom-color 0.3s ease-in-out;
}

#EnterName:hover{
    border-bottom-color: #ec150a;
}
#EnterPhone:hover{
    border-bottom-color: #ec150a;
}
#EnterAdd:hover{
    border-bottom-color: #ec150a;
}
#EnterState:hover{
    border-bottom-color: #ec150a;
}
#EnterZip:hover{
    border-bottom-color: #ec150a;
    
}


#EnterPhone{
    transition: border-bottom-color 0.3s ease-in-out;
    border: none;
    border-bottom: 0.1px solid black;
    width: 250px;
    font-size: 20px;
    margin-top: 70px;
    margin-left: 50px   ;
}
#EnterAdd{
    border: none;
    transition: border-bottom-color 0.3s ease-in-out;
    border-bottom: 0.1px solid black;
    width: 500px;
    font-size: 20px;
    margin-top: 70px;
    margin-left: 50px   ;
}
#EnterState{
    border: none;
    transition: border-bottom-color 0.3s ease-in-out;
    border-bottom: 0.1px solid black;
    width: 335px;
    font-size: 20px;
    margin-top: 70px;
    margin-left: 50px   ;
}
#EnterZip{
    border: none;
    transition: border-bottom-color 0.3s ease-in-out;
    border-bottom: 0.1px solid black;
    width: 170px;
    font-size: 20px;
    margin-top: 70px;
    margin-left: 50px   ;
}

#SelectPayment{
    /* margin-top: 800px; */
    margin-top: -390px;
    margin-left: 370px;
    font-family: "Racing Sans One", sans-serif;
    position: absolute;
    font-weight: 400;
}




#wholePayment{
    margin-left: 300px;
    /* position: absolute; */
}


#wholePayment2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 22px;
    margin-top: -300px;
    margin-left: 670px;
}


#makePayment{
    border: none;
    color: white;
    background-color: #df453e;
    position: absolute;
    padding: 15px 20px 15px 20px;
    font-weight: 700;
    margin-top: 50px;
    margin-left: 850px;
    z-index: 4;
}



#carttype{
    /* font-family: "Racing Sans One", sans-serif; */
}

#maincartitems{
    font-family: "Racing Sans One", sans-serif;

}

/* =============================MEDIA QUERY END=============================== */